@import '../_default.scss';

/* Import Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Define color variables */
:root {
  --dark-background: #242529;
  --light-background: #f5f5f5;
  --accent-color: #f9ff7a;
  --notification-background: #35363d;
  --dark-text: #f5f5f5;
  --light-text: #242529;
}

/* General body styling */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--dark-background);
  color: var(--dark-text);
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode body styling */
body.light-mode {
  background-color: var(--light-background);
  color: var(--light-text);
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header and navbar-bottom styling */
header,
.navbar-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  align-items: center;
}

/* Navbar-bottom styling */
.navbar-bottom {
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  color: var(--dark-text);
  border-radius: 50px 50px 0 0;
  z-index: 3;
  border-top: var(--dark-text) 4px solid;
}

/* Light mode navbar-bottom styling */
.navbar-bottom.light-mode {
  border-top: var(--dark-background) 4px solid;
}

/* navOverlay styling */
.navOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242529f0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

/* Light mode navOverlay styling */
.navOverlay.light-mode {
  background-color: #f5f5f5f0;
}

/* navOverlay ul styling */
.navOverlay ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navOverlay ul li styling */
.navOverlay ul li {
  padding: 10px 0;
  text-align: center;
  font-size: 1.2em;
}

/* navOverlay ul li a styling */
.navOverlay ul li a {
  color: var(--light-background);
  text-decoration: none;
}

/* Profile styling */
.profile {
  display: flex;
  align-items: center;
}

/* Profile-image styling */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}

/* H2 styling */
h2 {
  margin-left: calc(10vw - 20px);
}

/* Statistics styling */
.statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 2;
  padding-bottom: 120px;
}

/* Statistic-card and theme-toggle styling */
.statistic-card,
#theme-toggle {
  background-color: var(--accent-color);
  color: var(--light-text);
  font-weight: 400;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

/* Statistic-card styling */
.statistic-card {
  width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-text);
  font-size: 48px;
  font-weight: 700;
}

/* Statistic-card background and color settings */
.statistic-card {
  width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-text);
  font-size: 48px;
  font-weight: 700;
  background-image: url(../private/media/general/images/pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

/* Light mode statistic-card background and color settings */
.statistic-card.light-mode {
  background-image: url(../private/media/general/images/pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark-text);
  filter: grayscale(100%);
}

/* Nav styling */
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

/* nav-icon styling */
.nav-icon {
  font-size: 18px;
  color: var(--light-text);
}

/* Nav-page styling */
.nav-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--dark-text);
  border-radius: 50px;
  margin: 5px;
}

/* Nav-text styling */
.nav-text {
  margin-top: 4px;
  font-size: 12px;
  color: var(--light-text);
  font-weight: 400;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Theme-toggle button styling */
#theme-toggle {
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode theme-toggle button styling */
#theme-toggle.light-mode {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

/* Light mode text links styling */
.navOverlay.light-mode ul li a {
  color: var(--dark-background);
}

/* Header-logo styling */
.header-logo {
  height: 50px;
  width: auto;
}

/* Section-card-title styling */
.section-card-title {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 18px;
  font-weight: 300;
}

#navOverlayCloseButton {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 24px;
}

.signup-btn,
.login-btn {
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
}

.login-btn {
  background-color: var(--light-background);
  color: var(--dark-background);
}

.signup-btn {
  background-color: var(--accent-color);
  color: var(--dark-background);
}

/* ------- [GLOBAL FOR ALL OVERLAYS] --------*/

.overlayTitle {
  position: absolute;
  top: 40px;
  font-size: 24px;
  font-weight: 700;
}
