@import '../_default.scss';

/* General body styling */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $dark-gray;
  color: $white;
  transition: background-color 0.3s, color 0.3s;
}
/* Nav styling */
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
/* Light mode body styling */
body.light-mode {
  background-color: $white;
  color: $dark-gray;
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header and navbar-bottom styling */
header,
.navbar-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  align-items: center;
}

/* Navbar-bottom styling */
.navbar-bottom {
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $accent-color;
  color: $white;
  border-radius: 50px 50px 0 0;
  z-index: 3;
  border-top: $white 4px solid;
}

/* Light mode navbar-bottom styling */
.navbar-bottom.light-mode {
  border-top: $dark-gray 4px solid;
}

/* Profile styling */
.profile {
  display: flex;
  align-items: center;
}

/* Profile-image styling */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}

/* H2 styling */
h2 {
  margin-left: calc(10vw - 20px);
}

/* Footer styling */
footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Header-logo styling */
.header-logo {
  height: 50px;
  width: auto;
}

.signup-btn,
.login-btn {
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
}

.login-btn {
  background-color: $white;
  color: $dark-gray;
}

.signup-btn {
  background-color: $accent-color;
  color: $dark-gray;
}
