/* [Colors] */

// Standard
$dark-gray: #242529;
$light-gray: #35363d;
$white: #ffffff;
$accent-color: #f9ff7a;
$metal-accent-color: #495d63;
$light-purple: #b8b8ff;

// Dimmed
$dimmed-dark: #242529f0;
$dimmed-light: #e4e4e4f0;
